/documentation/project docs/pictures/latex/Tikz-palette.tps
/documentation/project docs/pictures/latex/Tikz-palette.tcp
/documentation/project docs/pictures/latex/Tikz-palette.synctex
/documentation/project docs/pictures/latex/Tikz-palette.pdf
/documentation/project docs/pictures/latex/Tikz-palette.log
/documentation/project docs/pictures/latex/Tikz-palette.aux
/documentation/project docs/pictures/latex/Tikz-palette-figure0.log
/documentation/project docs/pictures/latex/Tikz-palette-figure0.dpth
/documentation/project docs/pictures/latex/Tikz-palette.auxlock
/documentation/project docs/pictures/latex/*.dpth
/documentation/project docs/pictures/latex/*.log
